/**/
body {
  background-color:rgb(11, 11, 121);
}
h1 {
  color:seashell;
}

h2 {
  color:seashell;
}
h3{
    color:seashell;
}

label {
    color: white;
  display: block;
  float: left;
  text-align: right;
  width: 20%;
}

input {
  width: 75%;
}

#button {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: white;
  background-color:royalblue;
}

#message {
    color: white;
  border-style: solid;
  border-color:rgb(123, 169, 253);
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid;
}

td.num {
  text-align: right;
}



